<!DOCTYPE html>
<html>
<head>
	<title>location fade</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<style>
		body {
			-webkit-transition: background 1s linear;
			-moz-transition: background 1s linear;
			-ms-transition: background 1s linear;
			-o-transition: background 1s linear;
			transition: background 1s linear;
		}
</style>
</head>
<body>

	{{{body}}}

</body>
</html>
