<br><br><br><br>
	<div class="container">
	<div class="jumbotron">
	<h1>
		<div align="center" id="loc"></div>
		<div align="center" id="where">
			<a id="map" href="http://maps.google.com/maps?q=">Where?</a>
		</div>
	</h1>
	</div>
	</div>

	<script>

		if ("geolocation" in navigator)
		{
			navigator.geolocation.getCurrentPosition(function(location) {

				document.getElementById("map").href +=
					location.coords.latitude + "," +
					location.coords.longitude;

				var settings = {
					"async": true,
					"crossDomain": true,
					"url": "http://osm1.unwiredlabs.com/locationiq/v1/reverse.php? \
					format=json& \
					key=9bde6ebe55ee32c61dfd& \
					lat=" + location.coords.latitude + "& \
					lon=" + location.coords.longitude + "& \
					zoom=16&addressdetails=0",

					"method": "POST",
					"headers": {
						"cache-control": "no-cache",
					}
				}

				$.ajax(settings).done(function (response) {
				  document.getElementById("loc").innerHTML = response.display_name;
				});
			});
		}
		else
		{
				document.getElementById("jumbotron").innerHTML =
					"<h1>No Location Support</h1>"
		}
	</script>
